{% extends 'DonCarTallerBundle::layout.html.twig' %}


{% block title 'Alta Mecanico' %}


{% block content %}

  <h1 class="title">Alta orden</h1>


{{ form_start(form) }}
    {{ form_errors(form) }}
 
    {{ form_row(form.numero) }}
    {{ form_row(form.tiempo) }}
    {{ form_row(form.mecanico) }}
 
    {{ form_rest(form) }}
 
    <button type="submit" class="sf-button">
      <span class="border-l">
        <span class="border-r">
          <span class="btn-bg">OK</span>
        </span>
      </span>
    </button>
{{ form_end(form) }}


{% endblock %}
