{% extends 'DonCarTallerBundle::layout.html.twig' %}


{% block title 'Alta Mecanico' %}


{% block content %}

  <h1 class="title">Alta mecanico</h1>










 
 


{{ form_start(form, { 'attr': {'class' : 'pure-form pure-form-aligned'}}) }}
  <fieldset>
    {{ form_errors(form) }}
 
 <div class="pure-control-group">
    {{ form_row(form.nombre, {'attr':{'placeholder':'Nombre'}}) }}
 </div>

 <div class="pure-control-group">
    {{ form_row(form.apellido, {'attr':{'placeholder':'Apellido'}}) }}
 </div>

 <div class="pure-control-group">
    {{ form_row(form.numero, {'attr':{'placeholder':'Numero'}}) }}
 </div>

 
    {{ form_rest(form) }}
 

<div class="pure-controls">
 
    {{ form_rest(form) }}
    <button type="submit" class="pure-button pure-button-primary">Aceptar</button>
</div>
 
  </fieldset>
{{ form_end(form) }}


{% endblock %}
