{% extends 'DonCarTallerBundle::layout.html.twig' %}


{% block title 'Gestionar Orden' %}


{% block content %}

  <h1 class="title">Gestionar Orden</h1>


{{ form_start(form, { 'attr': {'class' : 'pure-form pure-form-aligned'}}) }}
  <fieldset>
    {{ form_errors(form) }}

 <div class="pure-control-group">
    {{ form_row(form.numero_mecanico, {'attr':{'placeholder':'Numero Mecanico'}}) }}
 </div>

 <div class="pure-control-group">
    {{ form_row(form.numero_orden, {'attr':{'placeholder':'Numero Orden'}}) }}
 </div>
 
<div class="pure-control-group">
    {{ form_row(form.finalizar) }}
 </div>
 
 

 <div class="pure-controls">
 
    {{ form_rest(form) }}
    <button type="submit" class="pure-button pure-button-primary">Aceptar</button>
</div>
  </fieldset>
{{ form_end(form) }}


{{ mensaje }}

{% endblock %}
