{% extends 'DonCarTallerBundle::layout.html.twig' %}


{% block title 'Gestionar Orden' %}


{% block content %}

  <h1 class="title">Ordenes </h1>
  <fieldset>
     <legend> Buscar Orden </legend>
  {{ form_start(form, { 'attr': {'class' : 'pure-form', 'novalidate': ''}}) }}
    
      {{ form_errors(form) }}

      {{ form_label(form.fecha, 'Desde') }}
      {{ form_widget(form.fecha) }}

       {{ form_label(form.hasta, 'Hasta') }}
      {{ form_widget(form.hasta) }}

      {{ form_label(form.numero, 'Numero') }}<br/>
      {{ form_widget(form.numero) }}

      <button type="submit" class="pure-button">
         <span class="fa-search-plus"></span>
        Buscar
      </button>
      {{ form_rest(form) }}
      
    
  {{ form_end(form) }}
  </fieldset>

  <br/>

  <table class="pure-table" >

    <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Mecanico</th>
        <th>Tiempo (UT)</th>
        <th>Trabajos</br>efectuados</th>
        <th>Tiempo total</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for orden in ordenes %}
        <tr>
          <td>
            {{ orden.numero }}
          </td>
          <td>{{ orden.fechaAlta|date('d/m/y') }}</td>
          <td>{{ orden.estado.nombre }}</td>
          <td> {% if orden.mecanico %} {{ orden.mecanico.numero }} ({{ orden.mecanico.apellido  }}, {{ orden.mecanico.nombre }}) {% endif %} </td>
          <td>{{ orden.tiempo }}</td>
          <td>{{ orden.getPeriodosDeEjecucion }}</td>
          <td>{{ orden.getTiempoTrabajado|date('%d dias %Hh %Im') }}</td>
          <td> 
            <button class="pure-button" 
                    title="Eliminar" 
                    onClick="confe( {{ orden.id }} );" 
                    style="float:left; padding: 0 0 0 0 ; margin-right:2px;2px; " >
              <span class="ui-icon ui-icon-trash" ></span>
           </button>

            <button class="pure-button" 
                    title="Editar" 
                    onClick="window.location.href='{{ path( 'taller_editar_orden', {'id' : orden.id} ) }}';" 
                    style="float:left; padding: 0 0 0 0 ; margin-right:2px;2px; " >
              <span class="ui-icon ui-icon-pencil" ></span>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br/>
  <a class="pure-button  pure-button-primary" href="{{ path( 'taller_alta_orden') }}">Cargar nueva orden</a>

{% endblock %}


{% block javascripts %} 
<script>
  function confe(orden){
    if (confirm("Esta seguro de que desea eliminar la orden seleccionada?")){
    alert(  httpGet("{{ path('taller_eliminar_orden', {'id' :' ' ,})  }}"+orden));
    location.reload();

    }
  };


function httpGet(theUrl){
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
};


</script>
{% endblock %}


