{% extends 'DonCarTallerBundle::layout.html.twig' %}


{% block title 'Mecanicos' %}


{% block content %}
  <h1 class="title">Mecanicos</h1>
    <table class="pure-table" >

 <thead>
        <tr>
            <th>#</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
    </thead>

<tbody>

      {% for mecanico in mecanicos %}
      <tr>
          <td>{{ mecanico.numero }} </td>
          <td>{{ mecanico.apellido }}, {{ mecanico.nombre }}</td>
          <td>

            <button onClick="confe( {{ mecanico.id }} );" style="float:left; padding: 0 0 0 0 ; margin-right:2px;2px; " >
              <span class="ui-icon ui-icon-trash" > 
              </span>Eliminar
           </button>

            <button onClick="confedit( {{ mecanico.id }} );" style="float:left; padding: 0 0 0 0 ; margin-right:2px;2px; " >
              <span class="ui-icon ui-icon-pencil" > 
              </span>Editar
           </button>

          </td>
      </tr>
      {% endfor %}
</tbody>
  </table>
<br/>
<a class="pure-button pure-button-primary" href="{{ path( 'taller_alta_mecanico') }}">Cargar nuevo mecanico</a>

{% endblock %}


{% block javascripts %} 
<script>
  function confe(orden){
    if (confirm("Esta seguro de que desea eliminar el mecanico seleccionado?")){
    alert(  httpGet("{{ path('taller_eliminar_mecanico', {'id' :' ' ,})  }}"+orden));
    location.reload();

    }
  };

  function confedit(orden){
   window.location.href = "{{ path('taller_editar_mecanico', {'id' :' ' ,})  }}"+orden;
  };

function httpGet(theUrl){
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
};


</script>
{% endblock %}


