{% extends 'DonCarTallerBundle::layout.html.twig' %}


{% block title 'Gestionar Orden' %}


{% block content %}
  <h1 class="title">Ordenes </h1>
    <table class="pure-table" >
<span style="font-size: 12px; margin-left: 50px;">
  Paginas: {% for i in 1 .. paginas %}
              - <a href="{{ path('taller_listar_orden_paginada', {'pagina' : i}) }}">{{ i }}</a>  
           {% endfor %}</span> (Ordenes mas recientes primero)  <br/><br/>

 <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Mecanico</th>
          <th>Tiempo (UT)</th>
          <th>Trabajos efectuados</th>
          <th>Tiempo total</th>
          <th>Acciones</th>
        </tr>
    </thead>

<tbody>
    


      {% for orden in ordenes %}
      <tr>
          <td>
            {{ orden.numero }}</td>
          <td>{{ orden.fechaAlta|date('d/m/y') }}</td>
          <td>{{ orden.estado.nombre }}</td>
          <td>{{ orden.mecanico.numero }} ({{ orden.mecanico.apellido  }}, {{ orden.mecanico.nombre }}) </td>
          <td>{{ orden.tiempo }}</td>
          <td>{{ orden.periodosTrabajo|length }}</td>
          <td>    		{{ orden.getTiempoTrabajado|date('%d dias %Hh %Im') }}
          </td>
	  <td> 

	   <button class="pure-button" title="Eliminar" onClick="confe( {{ orden.id }} );" style="float:left; padding: 0 0 0 0 ; margin-right:2px;2px; " >
              <span class="ui-icon ui-icon-trash" > 
              </span>
           </button>

            <button class="pure-button" title="Editar" 
                    onClick="window.location.href='{{ path( 'taller_editar_orden', {'id' : orden.id} ) }}';" 
                    style="float:left; padding: 0 0 0 0 ; margin-right:2px;2px; " >
              <span class="ui-icon ui-icon-pencil" > 
              </span>
           </button>
	

 </td>
      </tr>
      {% endfor %}
</tbody>
  </table>
<br/>
<a class="pure-button  pure-button-primary" href="{{ path( 'taller_alta_orden') }}">Cargar nueva orden</a>

{% endblock %}


{% block javascripts %} 
<script>
  function confe(orden){
    if (confirm("Esta seguro de que desea eliminar la orden seleccionada?")){
    alert(  httpGet("{{ path('taller_eliminar_orden', {'id' :' ' ,})  }}"+orden));
    location.reload();

    }
  };


function httpGet(theUrl){
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
};


</script>
{% endblock %}


