{% extends 'DonCarPreciosServiceBundle::layout.html.twig' %}
{% block content %}

<div class="page-header">
  <h1>{{service.vehiculo.nombre}}: {{service.descripcion}}</h1>
</div>




<div class="row">
  <div class="col-md-8">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Precios</h3>
      </div>
      <div class="panel-body">

         <table class="table table-condensed table-hover">
          <tbody>
            <tr>
              <td><strong>Precio VW</strong></td>
              <td><p class="text-right">$</p></td>
              <td><p id="precio-comp" class="text-right">{{ service.precioComp|number_format(2, ',', '') }}</p></td>
            </tr>
            <tr>
              <td><strong>Precio Comp</strong></td>
              <td><p class="text-right">$</p></td>  
              <td><p id="precio-vw" class="text-right">{{ service.precioVW|number_format(2, ',', '') }}</p></td>
            </tr>
            <tr><td></td><td></td><td>&nbsp;</td></tr>
            <tr>
              <td>Repuestos Obligatorios</td>
              <td><p class="text-right">$</p></td>
              <td><p class="precio-rep text-right" id="suma-insumos_1" >Suma</p></td>
            </tr>
            <tr>
              <td>Repuestos Opcionales</td>
              <td><p class="text-right">$</p></td>
              <td> <p class="precio-rep text-right" id="suma-insumos_2" >Suma</p></td>
            </tr>
            <tr>
              <td>Repuestos Secundarios</td>
              <td><p class="text-right">$</p></td>
              <td><p class="precio-rep text-right" id="suma-insumos_3" >Suma</p> </td>
            </tr>
            <tr>
              <td><strong>Total repuestos</strong></td>
              <td><p class="text-right">$</p></td>
              <td><p class="text-right" id="suma-insumos" >Suma</p></td>
            </tr>
            <tr><td></td><td></td><td>&nbsp;</td></tr>
            <tr>
              <td>Precio por hora mano de obra <strong>{{service.manoDeObra.nombre}}</strong></td>
              <td><p class="text-right">$</p></td>
              <td><input id="precio-mdo-hora" size="6" class=" recalc-mdo numbersOnly form-control input-sm"  type="text"></td>
            </tr>
            <tr>
              <td>Total de horas</td>
              <td><p class="text-right"></p></td>
              <td><input id="horas-mdo" size="6" class=" recalc-mdo numbersOnly form-control input-sm"  type="text"></td>
            </tr>
            <tr>
              <td><strong>Total mano de obra</strong></td>
              <td><p class="text-right">$</p></td>
              <td><p id="precio-mdo-total" class="text-right" >Suma</p></td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>

  </div><!-- /.col-md-6 -->
</div>



{% for condi in condiciones%}
<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{condi.nombre}}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">



        <table id="insumos_{{ condi.id }}" class="tabla-insumos table table-condensed table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            {% for insumo in service.insumos %}
            {% if insumo.condicion == condi %}
            <tr>
              <td style="color: grey" ><small>{{ insumo.repuesto.codigo }}</small></td>
              <td>{{ insumo.repuesto.descripcion }}</td>
              <td><p class="text-right">{{ insumo.repuesto.precio|number_format(2, ',', '') }}</p> </td>
              <td><input class="recalc" {% if condi.id == 1 %} disabled checked {% endif %} type="checkbox"></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        </div>

      </div>
    </div>

  </div><!-- /.col-md-6 -->
</div>
{% endfor %}

<script>

function SumarColumna(grilla, columna) {
    var resultVal = 0.0;
    $("#" + grilla + " tbody tr").each(
        function() {
            var celdaValor = $(this).find('td:eq(' + columna + ') p');
            var marcado = $(this).find('td:eq(' + 3 + ') input').prop('checked');
            if (celdaValor.val() != null && marcado)
            resultVal += parseFloat(celdaValor.html().replace(',','.'));
        } //function
    ) //each
    $("#suma-"+grilla).html(resultVal.toFixed(2).toString().replace('.',','));  
}   


/*  Para sumar los repuestos del detalle y colocarlos en la lista resumida  */
function sumarTiposRepuestos(){
  $(".tabla-insumos").each(
    function () {
     SumarColumna($(this).attr('id'),2);
    }
  );
}

function sumarRepuestos(){
  var resultVal = 0.0;
             
    $(".precio-rep").each(
        function() {
            var celdaValor = $(this);
            if (celdaValor.val() != null)
            resultVal += parseFloat(celdaValor.html().replace(',','.'));
        } //function
         
    ) //each
    $("#suma-insumos").html(resultVal.toFixed(2).toString().replace('.',','));
}

$( ".recalc" ).change(function() {
  sumarTiposRepuestos();
  sumarRepuestos();
});


/* Recalcula la mano de obra */
function recalcmdo(){
  vHoras = $('#precio-mdo-hora').val();
  vPrecioHoras = $("#horas-mdo").val();
  vHoras = parseFloat(vHoras);
  vPrecioHoras= parseFloat(vPrecioHoras);
  totalmdo = vHoras * vPrecioHoras;
  
  $('#precio-mdo-total').html(totalmdo.toFixed(2).toString().replace('.',','));
}

$(".recalc-mdo").keyup(function(){
  recalcmdo();
})



/*  Para calcular los valores al cargar la pagina */
window.onload=function(){
  sumarTiposRepuestos();
  sumarRepuestos();
  recalcmdo();
};


/* Permite solo el ingreso de numeros y puntos en inputs numericos */
$('.numbersOnly').keyup(function () { 
    this.value = this.value.replace(/[^0-9\.]/g,'');
});


</script>

{% endblock %}