<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
        {{ form_start(form_alta) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Vehiculo</h4>
      </div>

      <div class="modal-body">

          {{ form_errors(form_alta) }}

        <div class="form-group">
          {{ form_label(form_alta.codigo) }}
          {{ form_widget(form_alta.codigo, {'attr': {'placeholder': 'Codigo del vehiculo', 'class':'form-control'}}) }}
          {{ form_errors(form_alta.codigo) }}  
        </div>
        
        <div class="form-group">
          {{ form_label(form_alta.nombre) }}
          {{ form_widget(form_alta.nombre, {'attr': {'placeholder': 'ej: Gol Trend', 'class':'form-control'}}) }}
          {{ form_errors(form_alta.nombre) }}  
        </div>
        
        <div class="form-group">
          {{ form_label(form_alta.descripcion) }}
          {{ form_widget(form_alta.descripcion, {'attr': {'placeholder': 'Descripcion del vehiculo', 'class':'form-control'}}) }}
          {{ form_errors(form_alta.descripcion) }}  
        </div>

          {{ form_rest(form_alta)}}  
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk "></span>
          Guardar
        </button>
          
      </div>
    {{ form_end(form_alta) }}
    </div>

  </div>
</div>