{% extends '::base.html.twig' %}


{% block stylesheets %}
 <link href="{{ asset('bundles/doncarpdi/css/body.css') }}" type="text/css" rel="stylesheet" />
 <link href="{{ asset('bundles/doncarpdi/css/general.css') }}" type="text/css" rel="stylesheet" />
 <link href="{{ asset('bundles/doncarpdi/css/structure.css') }}" type="text/css" rel="stylesheet" />
 <link href="{{ asset('bundles/doncarpdi/css/custom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block body %}
<div id="content">
  <div class="header clear-fix">
    <div class="header-logo"> <img  src="{{ asset('bundles/doncarpdi/images/dc_logo_small.png') }}" alt="VW Logo"/> </div>
    <div class="search">

                    <!-- Formulario de busqueda INICIO -->
                    <form method="get" action="http://symfony.com/search" target="_blank">
                        <div class="form-row">
                            <label for="search-id">[Imagen]ABC2</label>

                            <input name="q" id="search-id" placeholder="Search on Symfony website" type="search">

                            <button type="submit" class="sf-button">
                                <span class="border-l">
                                    <span class="border-r">
                                        <span class="btn-bg">OK</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                   </form>
                   <!-- Formulario de busqueda FIN -->

    </div>
  </div>

  <div class="sf-reset">
    <ul id="menu">
      <li><a href="http://uanich.no-ip.biz:9099/Symfony/web/app_dev.php/demo/">Demo Home</a></li>
    </ul>

    <div style="clear: both"></div>
    <div class="block"> 
      {% block content %}

<img id="logo_img" src="{{ asset('bundles/doncarpdi/images/vw_logo.png') }}" alt="VW Logo"/> <div id="logo_text">DonCar</div>  
 
      {% endblock %}  
    </div>
  </div>
</div>

<div data-sfurl="/Symfony/web/app_dev.php/_wdt/b77c62" id="sfwdtb77c62" class="sf-toolbar" style="display: block;">
</div>

{% endblock %}
